noderedflows.json
[{"id":"6f2af268.73ca2c","type":"tab","label":"Alarm System ","disabled":false,"info":""},{"id":"8997cdb1.c49c","type":"tab","label":"Light System ","disabled":false,"info":""},{"id":"11e58c58.5b6e34","type":"tab","label":"People","disabled":false,"info":""},{"id":"943bdb3d.2cf358","type":"server","z":"","name":"Home Assistant"},{"id":"abd329ad.70e","type":"position-config","z":"","name":"Time","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"2","stateDateFormat":"2"},{"id":"df27707c.59703","type":"server-state-changed","z":"6f2af268.73ca2c","name":"Alarm System ","server":"943bdb3d.2cf358","version":1,"entityidfilter":"alarm_control_panel.alarm_panel","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":340,"wires":[["1014a243.69719e"]]},{"id":"1014a243.69719e","type":"switch","z":"6f2af268.73ca2c","name":"Alarm State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"armed","vt":"str"},{"t":"eq","v":"disrmed","vt":"str"},{"t":"eq","v":"triggered","vt":"str"},{"t":"eq","v":"armed_home","vt":"str"},{"t":"eq","v":"pending","vt":"str"},{"t":"eq","v":"warning","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":290,"y":340,"wires":[["c19e2eb2.81032","d496b64c.b0cd58","8cb274fa.92e5a8","7e661752.6a1038"],["299dc0ba.f8ced","f18f420f.de11f","cbe05e0f.223b4"],["7fa19c55.0e8214"],["dd29a95a.e14cc8"],["1fc08941.972407"],["ad8abcf.91e8ac"]]},{"id":"c19e2eb2.81032","type":"api-call-service","z":"6f2af268.73ca2c","name":"System Armed Automation","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"script","service":"trigger","entityId":"script.1569179820729","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":20,"wires":[["b2860ae7.4d5318"]]},{"id":"d496b64c.b0cd58","type":"api-call-service","z":"6f2af268.73ca2c","name":"Turn on Camera Motion Sensor","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"camera","service":"enable_motion_detection","entityId":"camera.wyzecam_basement, camera.wyzecam_entryway, camera.wyzecam_garage, camera.wyzecam_kitchen, camera.wyzecam_livingroom, camera.wyzecam_theater","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":80,"wires":[["bfe32c0d.0885f"]]},{"id":"8cb274fa.92e5a8","type":"api-call-service","z":"6f2af268.73ca2c","name":"Lock Front Door","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"lock","service":"lock","entityId":"lock.kwikset_locked","data":"{\"code\":****}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":140,"wires":[["ae014158.ace25"]]},{"id":"299dc0ba.f8ced","type":"api-call-service","z":"6f2af268.73ca2c","name":"System Disarmed Automation ","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"script","service":"trigger","entityId":"script.1569180165306","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":200,"wires":[["5d466a9d.fa1014"]]},{"id":"f18f420f.de11f","type":"api-call-service","z":"6f2af268.73ca2c","name":"Turn off Camera Motion Sensor","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"camera","service":"disable_motion_detection","entityId":"camera.wyzecam_basement, camera.wyzecam_entryway, camera.wyzecam_garage, camera.wyzecam_kitchen, camera.wyzecam_livingroom, camera.wyzecam_theater","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":260,"wires":[["32238ef1.35aba2"]]},{"id":"7fa19c55.0e8214","type":"api-call-service","z":"6f2af268.73ca2c","name":"System Triggered Automation","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"script","service":"trigger","entityId":"script.1569258310569","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":320,"wires":[["12dea65b.f87ada","a0fa6450.610728"]]},{"id":"b2860ae7.4d5318","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1000,"y":20,"wires":[]},{"id":"bfe32c0d.0885f","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1000,"y":80,"wires":[]},{"id":"ae014158.ace25","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1000,"y":140,"wires":[]},{"id":"5d466a9d.fa1014","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1000,"y":200,"wires":[]},{"id":"32238ef1.35aba2","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1000,"y":260,"wires":[]},{"id":"885379b7.43c058","type":"api-call-service","z":"6f2af268.73ca2c","d":true,"name":"Arm System","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"alarm_control_panel","service":"alarm_arm_away","entityId":"alarm_control_panel.alarm_panel","data":"{\"code\":1006}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":880,"wires":[["1014a243.69719e"]]},{"id":"fec2b727.b45598","type":"api-call-service","z":"6f2af268.73ca2c","name":"System Disarmed Automation ","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"alarm_control_panel","service":"alarm_disarm","entityId":"alarm_control_panel.alarm_panel","data":"{\"code\":****}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":800,"wires":[["1014a243.69719e","22293757.60c1f8"]]},{"id":"dd29a95a.e14cc8","type":"api-call-service","z":"6f2af268.73ca2c","name":"System Armed Home","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.alarm_home_mode_armed","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":440,"wires":[["7ca7ab16.c33264"]]},{"id":"7ca7ab16.c33264","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1000,"y":440,"wires":[]},{"id":"3c44fb3a.164b94","type":"api-current-state","z":"8997cdb1.c49c","name":"Anyone home?","server":"943bdb3d.2cf358","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.device_tracking","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":280,"wires":[["d1a51116.af614"],["c51e687.1cb0c98","4f754841.a5d858","14979296.89355d"]],"outputLabels":["Yes","No"]},{"id":"ce15498e.907f98","type":"api-call-service","z":"8997cdb1.c49c","name":"Motion Sensor Lights Off","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"automation","service":"turn_off","entityId":"automation.turn_on_lights_when_there_is_movement_at_night, automation.turn_off_lights_2_minutes_after_last_movement, automation.living_room_lamps_on_at_night","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":60,"wires":[["b368152a.c75928"]]},{"id":"39fcfe9c.e72812","type":"api-call-service","z":"8997cdb1.c49c","name":"Lights Off Automation ","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"automation","service":"trigger","entityId":"automation.turn_off_lights_at_dawn","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":120,"wires":[["5348647c.78aacc"]]},{"id":"d1a51116.af614","type":"api-call-service","z":"8997cdb1.c49c","name":"Motion Sensor Lights","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"automation","service":"turn_on","entityId":"automation.turn_on_lights_when_there_is_movement_at_night, automation.turn_off_lights_2_minutes_after_last_movement","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":180,"wires":[["dacf995a.9543a8"]]},{"id":"c51e687.1cb0c98","type":"api-call-service","z":"8997cdb1.c49c","name":"Motion Sensor Lights Off","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"automation","service":"turn_off","entityId":" automation.turn_on_lights_when_there_is_movement_at_night, automation.turn_off_lights_2_minutes_after_last_movement","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":300,"wires":[["4aac3791.91f6e8"]]},{"id":"b368152a.c75928","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1080,"y":60,"wires":[]},{"id":"5348647c.78aacc","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1080,"y":120,"wires":[]},{"id":"dacf995a.9543a8","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1080,"y":180,"wires":[]},{"id":"4aac3791.91f6e8","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1080,"y":300,"wires":[]},{"id":"4a846138.80fa4","type":"api-call-service","z":"8997cdb1.c49c","name":"Outside lights (off)","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"automation","service":"trigger","entityId":"automation.turn_off_lights_at_dawn","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":360,"wires":[["d498f16f.607c3"]]},{"id":"3737b620.7875ea","type":"api-call-service","z":"8997cdb1.c49c","name":"Outside lights (on)","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"automation","service":"trigger","entityId":"automation.turn_on_outside_light_at_sunset","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":420,"wires":[["ca4f88cc.fe9cb8"]]},{"id":"d498f16f.607c3","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1080,"y":360,"wires":[]},{"id":"ca4f88cc.fe9cb8","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1080,"y":420,"wires":[]},{"id":"4f754841.a5d858","type":"api-call-service","z":"8997cdb1.c49c","name":"Living Room Lamp Lights","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"automation","service":"trigger","entityId":"automation.living_room_lamps_on_at_night","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":240,"wires":[["1cee2402.47419c"]]},{"id":"1cee2402.47419c","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1080,"y":240,"wires":[]},{"id":"6b6ecb16.99f344","type":"api-call-service","z":"8997cdb1.c49c","name":"Garage Lights (on)","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.garage_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":480,"wires":[["df6f4ae4.7c98b8"]]},{"id":"bc161e6a.50663","type":"api-call-service","z":"8997cdb1.c49c","name":"Garage Lights (off)","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.garage_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":560,"wires":[["c8ad44db.9257e8"]]},{"id":"df6f4ae4.7c98b8","type":"stoptimer","z":"8997cdb1.c49c","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":540,"y":540,"wires":[["bc161e6a.50663"],[]]},{"id":"50c4fbc5.927724","type":"api-call-service","z":"8997cdb1.c49c","name":"Backyard light (on)","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.back_deck","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":620,"wires":[["71e5769c.4d5148"]]},{"id":"707e1900.1eea58","type":"api-call-service","z":"8997cdb1.c49c","name":"Backyard light (off)","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.back_deck","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1270,"y":680,"wires":[["44c6e7fb.d84b18"]]},{"id":"958e1ea2.0a3e5","type":"api-current-state","z":"6f2af268.73ca2c","name":"Is House Armed?","server":"943bdb3d.2cf358","version":1,"outputs":2,"halt_if":"armed","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.alarm_panel","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":710,"y":800,"wires":[["fec2b727.b45598"],["60d4e357.065b0c"]],"outputLabels":["Armed","Disarmed"]},{"id":"29ac9ab8.522226","type":"api-current-state","z":"6f2af268.73ca2c","name":"Is House Armed Away?","server":"943bdb3d.2cf358","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.alarm_panel","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":880,"wires":[["518a6085.7b6b2"],["885379b7.43c058"]],"outputLabels":["Armed","Disarmed"]},{"id":"c8ad44db.9257e8","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1200,"y":560,"wires":[]},{"id":"71e5769c.4d5148","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1200,"y":620,"wires":[]},{"id":"44c6e7fb.d84b18","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1520,"y":680,"wires":[]},{"id":"cbe05e0f.223b4","type":"api-call-service","z":"6f2af268.73ca2c","name":"Turn On Alarm Chime","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"alarm_control_panel","service":"alarmdecoder_alarm_toggle_chime","entityId":"alarm_control_panel.alarm_panel","data":"{\"code\":****}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":640,"y":500,"wires":[["5a5e98e2.e0ce1"]]},{"id":"7e661752.6a1038","type":"api-call-service","z":"6f2af268.73ca2c","name":"Turn Off Alarm Chime","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"alarm_control_panel","service":"alarmdecoder_alarm_toggle_chime","entityId":"alarm_control_panel.alarm_panel","data":"{\"code\":****}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":560,"wires":[["f3e52553.8f6a8"]]},{"id":"2f6b945e.48b7b4","type":"api-call-service","z":"8997cdb1.c49c","name":"Change Front End theme to Day","server":"943bdb3d.2cf358","version":1,"debugenabled":true,"service_domain":"frontend","service":"set_theme","entityId":"admin","data":"{\"name\":\"clear\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":860,"y":740,"wires":[["1b3268ce.2b2a57"]]},{"id":"29c253eb.37ba54","type":"api-call-service","z":"8997cdb1.c49c","name":"Change Front End Theme to Dark at Night","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"frontend","service":"set_theme","entityId":"admin","data":"{\"name\":\"Smart - Dark\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":890,"y":800,"wires":[["2188601b.aacbd"]]},{"id":"1fc08941.972407","type":"api-call-service","z":"6f2af268.73ca2c","name":"System Arming Script","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.alarm_away_mode_arming","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":620,"wires":[["a1aa4217.198ce8"]]},{"id":"ad8abcf.91e8ac","type":"api-call-service","z":"6f2af268.73ca2c","name":"System Warning ","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.alarm_warning","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":680,"wires":[["eef9ae4.89709d"]]},{"id":"5a5e98e2.e0ce1","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1000,"y":500,"wires":[]},{"id":"f3e52553.8f6a8","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1000,"y":560,"wires":[]},{"id":"a1aa4217.198ce8","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1000,"y":620,"wires":[]},{"id":"eef9ae4.89709d","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1000,"y":680,"wires":[]},{"id":"637d54ef.766ffc","type":"time-range-switch","z":"8997cdb1.c49c","name":"","lat":"**.*******","lon":"-**.*******","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":140,"y":440,"wires":[[],["6c7c8f16.7c1c7"]],"outputLabels":["Day","Night"]},{"id":"265e8fca.64dfe","type":"time-range-switch","z":"8997cdb1.c49c","name":"","lat":"**.******","lon":"-**.*******","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":140,"y":640,"wires":[[],["e9c6e0da.ea246"]],"outputLabels":["Day","Night"]},{"id":"3fae0f0c.e7606","type":"time-range-switch","z":"8997cdb1.c49c","name":"","lat":"**.*******","lon":"-**.*******","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":280,"y":300,"wires":[["4a846138.80fa4","ce15498e.907f98","39fcfe9c.e72812"],["3c44fb3a.164b94","3737b620.7875ea"]],"outputLabels":["Day","Night"]},{"id":"c2c60321.98c7e","type":"api-call-service","z":"8997cdb1.c49c","name":"On","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.utility_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":880,"wires":[["4adecc6a.9424b4"]]},{"id":"c335e6f8.dde8e8","type":"api-call-service","z":"8997cdb1.c49c","name":"Off","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.utility_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":940,"wires":[["cfe1374c.bd5228"]]},{"id":"1b3268ce.2b2a57","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1200,"y":740,"wires":[]},{"id":"2188601b.aacbd","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1200,"y":800,"wires":[]},{"id":"cfe1374c.bd5228","type":"debug","z":"8997cdb1.c49c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1220,"y":940,"wires":[]},{"id":"7ae7cf50.2ba76","type":"link out","z":"6f2af268.73ca2c","name":"Device trackers","links":["423cb4d1.d6557c"],"x":395,"y":840,"wires":[],"inputLabels":["To inside Light Automation"]},{"id":"423cb4d1.d6557c","type":"link in","z":"8997cdb1.c49c","name":"Device trackers","links":["7ae7cf50.2ba76"],"x":75,"y":280,"wires":[["3fae0f0c.e7606","3c44fb3a.164b94"]],"outputLabels":["Home Presence"]},{"id":"77bc28b9.c8b4b8","type":"presence-faker","z":"8997cdb1.c49c","name":"","onPayload":"","onPayloadType":"str","onTopic":"","offPayload":"","offPayloadType":"str","offTopic":"","windowBegin":"07:30","windowEnd":"17:30","minDurationHours":0,"minDurationMinutes":"7","minDurationSeconds":0,"minDuration":"420","maxDurationHours":0,"maxDurationMinutes":"9","maxDurationSeconds":"30","maxDuration":"570","minCount":1,"maxCount":1,"startupBehavior":"onMsg","actionOnDisable":"none","x":1040,"y":1020,"wires":[[]]},{"id":"14979296.89355d","type":"delay","z":"8997cdb1.c49c","name":"","pauseType":"delay","timeout":"27","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":1020,"wires":[["77bc28b9.c8b4b8"]]},{"id":"12dea65b.f87ada","type":"looptimer","z":"6f2af268.73ca2c","duration":"5","units":"Minute","maxloops":"12","maxtimeout":"1","maxtimeoutunits":"Hour","name":"OH $#!t!!","x":600,"y":380,"wires":[["7fa19c55.0e8214"],["925ddde5.decd8"]],"outputLabels":["Panic!","Panic over...."]},{"id":"bd195024.38a5b","type":"stoptimer","z":"8997cdb1.c49c","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":820,"y":680,"wires":[["267f341b.4b970c"],[]]},{"id":"e9c6e0da.ea246","type":"api-current-state","z":"8997cdb1.c49c","name":"Back Door ","server":"943bdb3d.2cf358","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.kitchen_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":640,"wires":[["50c4fbc5.927724"],["bd195024.38a5b"]],"outputLabels":["Open","Close"]},{"id":"6c7c8f16.7c1c7","type":"api-current-state","z":"8997cdb1.c49c","name":"Garage door","server":"943bdb3d.2cf358","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.garage_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":440,"wires":[["6b6ecb16.99f344"],["df6f4ae4.7c98b8"]],"outputLabels":["Open","Close"]},{"id":"fb1b914f.79e9","type":"server-state-changed","z":"6f2af268.73ca2c","name":"Back Door","server":"943bdb3d.2cf358","version":1,"entityidfilter":"binary_sensor.kitchen_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":60,"y":1020,"wires":[["3bc5a810.6fb828","a80e0755.947e18"],["a80e0755.947e18"]],"outputLabels":["Open","Closed"]},{"id":"68dd9aa7.5d73f4","type":"api-call-service","z":"6f2af268.73ca2c","name":"Back Door Message","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"tts","service":"google_say","entityId":"admin","data":"{\"message\":\"Back door open too long. Please Close!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1020,"wires":[["20ac9f7a.05bad"]]},{"id":"20ac9f7a.05bad","type":"api-call-service","z":"6f2af268.73ca2c","name":"Back Door Alert ","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"alert","service":"turn_on","entityId":"alert.back_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":1020,"wires":[["f4c978f1.395a58"]]},{"id":"6486fd25.0733c4","type":"server-state-changed","z":"6f2af268.73ca2c","name":"Garage Door","server":"943bdb3d.2cf358","version":1,"entityidfilter":"binary_sensor.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1100,"wires":[["dff73225.70ef6","5e648941.95ddc8"],["5e648941.95ddc8"]],"outputLabels":["Open","Closed"]},{"id":"7bae7a78.41ef84","type":"api-call-service","z":"6f2af268.73ca2c","name":"Garage Door Message","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"tts","service":"google_say","entityId":"admin","data":"{\"message\":\"Garage door open too long. Please Close!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1100,"wires":[["88dff3a7.724ba"]]},{"id":"88dff3a7.724ba","type":"api-call-service","z":"6f2af268.73ca2c","name":"Garage Door Alert","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"alert","service":"turn_on","entityId":"alert.garage_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":1100,"wires":[["8658a31e.0624e"]]},{"id":"a3b8f933.85ce08","type":"server-state-changed","z":"6f2af268.73ca2c","name":"Front Door","server":"943bdb3d.2cf358","version":1,"entityidfilter":"binary_sensor.front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":60,"y":1180,"wires":[["9af2c2fd.e5633"],[]],"outputLabels":["Open","Closed"]},{"id":"6122f86c.c8f5c8","type":"api-call-service","z":"6f2af268.73ca2c","name":"Front Door Message","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"tts","service":"google_say","entityId":"admin","data":"{\"message\":\"Front Door Open too long.  Please close!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1180,"wires":[["d23b821c.e25e6"]]},{"id":"d23b821c.e25e6","type":"api-call-service","z":"6f2af268.73ca2c","name":"Front Door Alert","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"alert","service":"turn_on","entityId":"alert.front_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":1180,"wires":[["f3ba2d45.d9003"]]},{"id":"3bc5a810.6fb828","type":"api-call-service","z":"6f2af268.73ca2c","name":"Back Door Open Notification ","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.back_door_sensor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":1020,"wires":[["13d1c663.d7b61a"]]},{"id":"dff73225.70ef6","type":"api-call-service","z":"6f2af268.73ca2c","name":"Garage Door Open Notification ","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.garage_door_sensor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":1100,"wires":[["da1f1630.8f3758"]]},{"id":"9af2c2fd.e5633","type":"api-call-service","z":"6f2af268.73ca2c","name":"Front Door Open Notificaiton ","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.front_door_sensor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":320,"y":1180,"wires":[["eec44c29.c3944"]]},{"id":"2eefc977.f77db6","type":"server-state-changed","z":"6f2af268.73ca2c","name":"Utility Room","server":"943bdb3d.2cf358","version":1,"entityidfilter":"binary_sensor.service_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":70,"y":1280,"wires":[["d0dfb02b.eb6e4","5b25a33d.f53ecc"],["5b25a33d.f53ecc"]],"outputLabels":["Open","Closed"]},{"id":"d0dfb02b.eb6e4","type":"api-call-service","z":"6f2af268.73ca2c","name":"Service Door Open Notification ","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.utility_door_sensor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":1280,"wires":[["b7fd573d.e0ba98"]]},{"id":"1ea85e4c.5e1ca2","type":"api-call-service","z":"6f2af268.73ca2c","name":"Service Door Alert","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"alert","service":"turn_on","entityId":"alert.utility_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":1280,"wires":[["e7a5ae4b.2e941"]]},{"id":"a80e0755.947e18","type":"link out","z":"6f2af268.73ca2c","name":"Back Door","links":["c0bc69d4.7f7918"],"x":175,"y":1060,"wires":[]},{"id":"c0bc69d4.7f7918","type":"link in","z":"8997cdb1.c49c","name":"","links":["a80e0755.947e18"],"x":95,"y":720,"wires":[["265e8fca.64dfe"]]},{"id":"5e648941.95ddc8","type":"link out","z":"6f2af268.73ca2c","name":"Garage Door","links":["ac1f0898.173268"],"x":175,"y":1140,"wires":[]},{"id":"ac1f0898.173268","type":"link in","z":"8997cdb1.c49c","name":"","links":["5e648941.95ddc8"],"x":55,"y":520,"wires":[["637d54ef.766ffc"]]},{"id":"5b25a33d.f53ecc","type":"link out","z":"6f2af268.73ca2c","name":"Service Door","links":["20262657.e4f0ea"],"x":175,"y":1320,"wires":[]},{"id":"20262657.e4f0ea","type":"link in","z":"8997cdb1.c49c","name":"","links":["5b25a33d.f53ecc"],"x":155,"y":900,"wires":[["8def73f7.72bf2"]]},{"id":"8def73f7.72bf2","type":"api-current-state","z":"8997cdb1.c49c","name":"Service Room Door","server":"943bdb3d.2cf358","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.service_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":900,"wires":[["c2c60321.98c7e"],["c335e6f8.dde8e8"]],"outputLabels":["Open","Close"]},{"id":"4adecc6a.9424b4","type":"stoptimer","z":"8997cdb1.c49c","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":980,"y":880,"wires":[["c335e6f8.dde8e8"],[]]},{"id":"88d43db4.055f9","type":"stoptimer","z":"6f2af268.73ca2c","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":760,"y":1020,"wires":[["68dd9aa7.5d73f4"],[]]},{"id":"33de0fe5.651fd","type":"stoptimer","z":"6f2af268.73ca2c","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":760,"y":1100,"wires":[["7bae7a78.41ef84"],[]]},{"id":"3b1065c9.0d1a0a","type":"stoptimer","z":"6f2af268.73ca2c","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":760,"y":1180,"wires":[["6122f86c.c8f5c8"],[]]},{"id":"3c43ff3.b5dd2","type":"stoptimer","z":"6f2af268.73ca2c","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":760,"y":1280,"wires":[["1ea85e4c.5e1ca2"],[]]},{"id":"b4165767.daec78","type":"stoptimer","z":"6f2af268.73ca2c","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":460,"y":880,"wires":[["29ac9ab8.522226"],[]]},{"id":"20acdb4a.be2774","type":"stoptimer","z":"6f2af268.73ca2c","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":460,"y":800,"wires":[["958e1ea2.0a3e5"],[]]},{"id":"c75865c8.2cd278","type":"time-range-switch","z":"8997cdb1.c49c","name":"","lat":"33.9429394","lon":"-84.0981082","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":500,"y":760,"wires":[["2f6b945e.48b7b4"],["29c253eb.37ba54"]],"outputLabels":["Day","Night"]},{"id":"925ddde5.decd8","type":"ha-wait-until","z":"6f2af268.73ca2c","name":"","server":"943bdb3d.2cf358","outputs":1,"entityId":"alarm_control_panel.alarm_panel","property":"state","comparator":"is","value":"disarmed","valueType":"str","timeout":0,"timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":980,"y":380,"wires":[["fec2b727.b45598"]]},{"id":"42cf9515.78175c","type":"server-state-changed","z":"11e58c58.5b6e34","name":"****","server":"943bdb3d.2cf358","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.****","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":50,"y":120,"wires":[["e00eb3fc.03df6"],["329bf496.5ca1dc"]],"outputLabels":["home","away"]},{"id":"be570a72.d050f8","type":"server-state-changed","z":"11e58c58.5b6e34","name":"****","server":"943bdb3d.2cf358","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.****","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":50,"y":260,"wires":[["ac1d5a59.36ed28"],["d6a829da.df0688"]],"outputLabels":["home","away"]},{"id":"d94edc30.e3144","type":"server-state-changed","z":"11e58c58.5b6e34","name":"****","server":"943bdb3d.2cf358","version":1,"entityidfilter":"person.****","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":50,"y":380,"wires":[["64eae453.c7644c"],["d2926d11.e3dd8"]],"outputLabels":["home","away"]},{"id":"848899a8.ccf2e8","type":"server-state-changed","z":"11e58c58.5b6e34","name":"****","server":"943bdb3d.2cf358","version":1,"entityidfilter":"person.****","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":50,"y":520,"wires":[["8b2e1a0a.6f52e8"],["d5e1c3b1.6ce89"]],"outputLabels":["home","away"]},{"id":"e00eb3fc.03df6","type":"api-call-service","z":"11e58c58.5b6e34","name":"**** Home","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.****_is_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":270,"y":100,"wires":[[]]},{"id":"329bf496.5ca1dc","type":"api-call-service","z":"11e58c58.5b6e34","name":"**** Away","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.****_left_house","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":270,"y":160,"wires":[[]]},{"id":"ac1d5a59.36ed28","type":"api-call-service","z":"11e58c58.5b6e34","name":"**** Home","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.****_is_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":220,"wires":[[]]},{"id":"d6a829da.df0688","type":"api-call-service","z":"11e58c58.5b6e34","name":"****Away","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.****_left_house","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":280,"wires":[[]]},{"id":"64eae453.c7644c","type":"api-call-service","z":"11e58c58.5b6e34","name":"**** Home","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.****_is_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":340,"wires":[[]]},{"id":"d2926d11.e3dd8","type":"api-call-service","z":"11e58c58.5b6e34","name":"**** Away","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.****_left_house","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":280,"y":400,"wires":[[]]},{"id":"8b2e1a0a.6f52e8","type":"api-call-service","z":"11e58c58.5b6e34","name":"**** Home","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.****_is_home","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":270,"y":480,"wires":[[]]},{"id":"d5e1c3b1.6ce89","type":"api-call-service","z":"11e58c58.5b6e34","name":"**** Away","server":"943bdb3d.2cf358","version":1,"debugenabled":false,"service_domain":"automation","service":"trigger","entityId":"automation.****_left_house","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":270,"y":540,"wires":[[]]},{"id":"13d1c663.d7b61a","type":"api-current-state","z":"6f2af268.73ca2c","name":"Anyone Home?","server":"943bdb3d.2cf358","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.device_tracking","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":1020,"wires":[[],["88d43db4.055f9"]],"outputLabels":["Yes","No"]},{"id":"da1f1630.8f3758","type":"api-current-state","z":"6f2af268.73ca2c","name":"Anyone Home?","server":"943bdb3d.2cf358","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.device_tracking","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":1100,"wires":[[],["33de0fe5.651fd"]],"outputLabels":["Yes","No"]},{"id":"eec44c29.c3944","type":"api-current-state","z":"6f2af268.73ca2c","name":"Anyone Home?","server":"943bdb3d.2cf358","version":1,"outputs":2,"halt_if":" home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.device_tracking","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":1180,"wires":[[],["3b1065c9.0d1a0a"]],"outputLabels":["Yes","No"]},{"id":"b7fd573d.e0ba98","type":"api-current-state","z":"6f2af268.73ca2c","name":"Anyone Home?","server":"943bdb3d.2cf358","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.device_tracking","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":1280,"wires":[[],["3c43ff3.b5dd2"]],"outputLabels":["Yes","No"]},{"id":"22293757.60c1f8","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1520,"y":800,"wires":[]},{"id":"a0fa6450.610728","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1000,"y":320,"wires":[]},{"id":"f4c978f1.395a58","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1520,"y":1020,"wires":[]},{"id":"8658a31e.0624e","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1520,"y":1100,"wires":[]},{"id":"f3ba2d45.d9003","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1520,"y":1180,"wires":[]},{"id":"e7a5ae4b.2e941","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1520,"y":1280,"wires":[]},{"id":"267f341b.4b970c","type":"api-current-state","z":"8997cdb1.c49c","name":"Anyone Outside?","server":"943bdb3d.2cf358","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.backyard_camera_person_detected","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1030,"y":680,"wires":[["bd195024.38a5b"],["707e1900.1eea58"]],"outputLabels":["Yes","No"]},{"id":"518a6085.7b6b2","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1520,"y":960,"wires":[]},{"id":"60d4e357.065b0c","type":"debug","z":"6f2af268.73ca2c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1520,"y":880,"wires":[]},{"id":"a416a361.66cb6","type":"server-state-changed","z":"6f2af268.73ca2c","name":"Anyone Home?","server":"943bdb3d.2cf358","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.device_tracking","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":80,"y":840,"wires":[["20acdb4a.be2774","7ae7cf50.2ba76"],["b4165767.daec78","7ae7cf50.2ba76"]],"outputLabels":["home","away"]},{"id":"3b88ca69.3c5ff6","type":"sun events","z":"8997cdb1.c49c","testmode":true,"verbose":true,"topic":"","name":"","x":220,"y":760,"wires":[["c75865c8.2cd278"]]}]
